* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto';
}

html {
    font-size: 20px;
}

body {
    background: #F0F2F5;
    text-align: center;
}

form.authorization, form.registration {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    border-radius: 10px;
    background: white;
    align-items: center;

    >* {
        margin-bottom: 3%;
    }

    h1 {
        color: #1877F2;

    }

    input {
        outline: none;
        border: 2px solid #dddfe2;
        border-radius: 5px;
        width: 90%;
        height: 5vh;
        padding-left: 20px;
        font-size: 0.8rem;

        &:focus {
            border-color: #1877F2;
        }
    }

    button {
        color: white;
        font-size: 1rem;
        font-weight: bold;
        height: 5vh;
        border-radius: 5px;
        border: none;
        cursor: pointer;

        &:hover {
            opacity: 80%;
        }
    }

    button.logIn, button.register {
        background: #1877F2;
        width: 90%;
    }

    a {
        width: 100%;
    }

    button.registration, button.authorization {
        background: #42b72a;
        width: 70%;
    }
}

.colorsPage {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
    margin: 0 auto;

    .arrowBack, .arrowForward {
        font-size: 3rem;
        color: white;
        background-color: #42b72a;
        border-radius: 5px;
        cursor: pointer;
        outline: none;
        border: none;

        &:hover {
            opacity: 80%;
        }
    }

    table.colors {
        caption {
            color: #05080c;
            font-size: 2rem;
            font-weight: bold;
            margin-bottom: 3vh;
        }

        tbody {
            align-items: center;
        }

        td, th {
            border-radius: 5px;
            padding: 20px 40px;  
        }

        td {
            background: #1877F2;  
            color: white;
            box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
        }

        th {
            background: white;
            color: #1877F2;
            border: 2px solid #1877F2;
        }
    }  
}

.loadingImg {
    animation: loading 1s ease-in-out infinite;
    margin-top: 10px;
}


@keyframes loading {
        0% {transform: rotate(0deg);}
        100% {transform: rotate(360deg);}
    }

@media screen and (max-width: 900px) {
    html {
        font-size: 14px;
    }  

    .colorsPage table.colors {
        td, th {
            padding: 5px; 
        }
    }   
}
